{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<h1>About Us!</h1>
		<div><center><p> </p></center></div>
		<div><center><h4>Trey Grider - District Tech</h4></center></div>
		<div><center><img src="{% static 'blog/images/tg3.jpg' %}"></center></div>
	<div><center><p> </p></center></div>
		<div><center><h4>Jason Rector - Network Engineer</h4></center></div>
		<div><center><img src="{% static 'blog/images/yellowj.jpg' %}"></center></div>
	<div><center><p> </p></center></div>
		<div><center><h4>Dylan Claiborne - District Tech Assistant</h4></center></div>
		<div><center><img src="{% static 'blog/images/dc.jpg' %}"></center></div>
{% endblock content %}
