{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<h1>About Us!</h1>
	<div><center><p> </p></center></div>
		<div><center><img src="{% static 'blog/images/tg3.jpg' %}"></center></div>
		<div><center><h4><b>Trey Grider</b> - District Technology Technician</h4></center></div>
	<div><center><p> </p></center></div>
		<div><center><img src="{% static 'blog/images/yellowj.jpg' %}"></center></div>
		<div><center><h4><b>Jason Rector</b> - Network Engineer</h4></center></div>
	<div><center><p> </p></center></div>
		<div><center><img src="{% static 'blog/images/dc.jpg' %}"></center></div>
		<div><center><h4><b>Dylan Claiborne</b> - District Tech Assistant</h4></center></div>
	<div><center><p> </p></center></div>
		<div><center><img src="{% static 'blog/images/ali.jpg' %}"></center></div>
		<div><center><h4><b>Ali Burton</b> - District Tech Office Intern</h4></center></div>
{% endblock content %}
